*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.white{
    fill: white;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.header{
    position: fixed;
    padding: 1% 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.header .header_flex{
    margin: 0 25%;
    display: flex;
    justify-content: space-between;
}
.hlogo img{
    width: 173px;
    height: 39px;
}
.hlist{
    text-align: left;
    padding-top: 10px;
}
.hlist ul li{
    float: left;
    padding: 0 10px;
}
.hlist a{
    color:black;
}
.hlist a:hover{
    color: #5656fd;
}
.hlist .hmenu{
    position: relative;
}
.hlist li ul.submenu {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    height: 150px;
}
.hlist li ul.submenu li{
    text-align: center;
    margin-top: 10px;
    width: 150px;
}
.hlist li ul.submenu li:first-child{
    margin-top: 30px;
}
/* slide */
.banner {
    padding-top: 4%;
    width: 100%;
    height: 865px;
    text-align: center;
    overflow: hidden;
}
.banner .slideList {
    width: 100%;
    height: 865px;
}
.banner .slideList .slideImg {
    width: 100%;
    position: relative;
    float: left;
}
.banner .slideList .slideImg img {   
    width: 100%;
    height: 865px;
}
.slideImg .img1_p{
    position: absolute; /* 글씨 정중앙 오게 하는법 */
    left : 38%;
    top: 10%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.img1_p span{
    font-size: 64px;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
.slideImg .img1_p1{
    position: absolute; /* 글씨 정중앙 오게 하는법 */
    left : 31%;
    top: 23%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.slideImg .img2_p{
    position: absolute; /* 글씨 정중앙 오게 하는법 */
    left : 35%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-color: rgb(255,255,255,0.5);
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
.slideImg .img2_p2{
    position: absolute; /* 글씨 정중앙 오게 하는법 */
    left : 34%;
    top: 55%;
    transform: translate(-50%, -50%);
    border-color: rgb(255,255,255,0.5);
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
.img2_p span{
    font-size: 80px;
    padding: 10px 0;
    padding-right: 80px;
    border-bottom: 1px solid #fff;
}
.slideImg .img3_p{
    position: absolute; /* 글씨 정중앙 오게 하는법 */
    left : 60%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-color: rgb(255,255,255,0.5);
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
.slideImg .img3_p3{
    position: absolute; /* 글씨 정중앙 오게 하는법 */
    left : 60%;
    top: 55%;
    transform: translate(-50%, -50%);
    border-color: rgb(255,255,255,0.5);
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}
.img3_p span{
    font-size: 80px;
    padding-left: 100px;
    border-bottom: 1px solid #fff;
    text-align: right;
}
.lbtn{
    position: absolute;
    left: 5%;
    top: 450px;
    padding: 0 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
}
.rbtn{
    position: absolute;
    right: 5%;
    top: 450px;
    padding: 0 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
}
.UIhis{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: rgb(237, 244, 246);
}
.history{
    width: 900px;
    height: 450px;
    margin-top: 25px;
}
.history h2{
    font-size: 26px;
    line-height: 30px;
}
.history hr{
    margin: 15px 35% 0 0;
    border: 1px solid black;
}
.history tr{
    vertical-align: top;
}
.history th{
    padding: 15px 10px 10px 0;
}
.history td{
    padding: 10px 0 10px 30px;
}
.business{
    width: 100%;
    height: 800px;
}
.business h2{
    padding: 15px 15px 0 15px;
    font-size: 42px;
    text-align: center;
}
.business hr{
    border: 2px solid black;
    margin: 0 49%;
}
.business_div{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.business_div .mobility{
    position: relative;
    width: 311px;
    height: 663px;
    margin: 10px;
    box-shadow: 0 0 2px gray;
}
.mobility a{
    position: absolute;
    margin-top: 119%;
    margin-left: -70%;
    width: 135px;
    height: 34px;
    line-height: 30px;
    font-size: 20px;
    color: white;
    background-color: #5656fd;
    text-align: center;
}
.mobility p{
    padding: 10px;
    text-align: center;
}
.mobility p>span{
    line-height: 70px;
    font-size: 32px;
    font-weight: bold;
}
.business_div .big_data{
    position: relative;
    width: 311px;
    height: 663px;
    margin: 10px;
    box-shadow: 0 0 2px gray;
}
.big_data a{
    position: absolute;
    margin-top: 119%;
    margin-left: -70%;
    width: 135px;
    height: 34px;
    line-height: 30px;
    font-size: 20px;
    color: white;
    background-color: #5656fd;
    text-align: center;
}
.big_data p{
    padding: 10px;
    text-align: center;
}
.big_data p>span{
    line-height: 70px;
    font-size: 32px;
    font-weight: bold;
}
.business_div .chat_bot{
    position: relative;
    width: 311px;
    height: 663px;
    margin: 10px;
    box-shadow: 0 0 2px gray;
}
.chat_bot a{
    position: absolute;
    margin-top: 119%;
    margin-left: -70%;
    width: 135px;
    height: 34px;
    line-height: 30px;
    font-size: 20px;
    color: white;
    background-color: #5656fd;
    text-align: center;
}
.chat_bot p{
    padding: 10px;
    text-align: center;
}
.chat_bot p>span{
    line-height: 70px;
    font-size: 32px;
    font-weight: bold;
}
.business_div a:hover{
    transition: 0.5s;
    background-color: #ffb300;
}
.business_hr{
    width: 100%;
    border: 20px solid black;
}
.RECRUIT{
    width: 100%;
    height: 700px;
    background-color: rgb(237, 244, 246);
}
.RECRUIT h2{
    padding: 15px 15px 0 15px;
    font-size: 42px;
    text-align: center;
}
.RECRUIT hr{
    border: 2px solid black;
    margin: 0 49%;
}
.RECRUIT p{
    text-align: center;
    padding: 30px 0;
    font-size: 17px;
}
.recruit_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 750px;
    height: 450px;
    margin: 0 auto;
}
.recruit_div p{
    line-height: 20px;
    text-align: left;
    font-size: 14px;
    padding: 0 0 15px 30px;
}
.recruit_div span{
    font-weight: bold;
}
.recruit_div .cont1{
    display: flex;
    width: 52%;
    height: 150px;
}
.recruit_div .cont2{
    display: flex;
    width: 48%;
    height: 150px;
}
.recruit_div .cont3{
    display: flex;
    width: 52%;
    height: 150px;
}
.recruit_div .cont4{
    display: flex;
    width: 48%;
    height: 150px;
}
.recruit_div .cont5{
    display: flex;
    width: 52%;
    height: 150px;
}
.recruit_div .cont6{
    display: flex;  
    width: 48%;
    height: 150px;
}
.cont6 p{
    padding-left: 20%;
}
.cont_img img{
    width: 50px;
    height: 50px;
}
.recruit_div .form_btn{
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 70%;
    background-color: #0000ff71;
    border: none;
    box-shadow: 1px 1px 1px 1px #0000ff5f;
    color: white;
}
.form_btn:hover{
    border: 1px solid black;
    background-color: #fff;
    color: black;
    box-shadow: none;
    transition: 0.3s;
}
.map{
    width: 100%;
    height: 450px;
    border-bottom: 1px solid black;
}
.map .real_map{
    width: 100%;
    height: 450px;
    border-bottom: 1px solid black;
}
.link p{
    width: 50px;
    margin: auto;
    cursor: pointer;
}
.link p:hover{
    color: rgba(0, 0, 0, 0.4)
}
.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 430px;
    background-color: rgb(237, 244, 246);
}
.footer .fdiv{
    width: 900px;
    height: 80%;
    margin-top: 30px;
}
.fdiv .fdiv_hr{
    border: 1px solid black;
    margin-right: 94%;
    margin-top: 10px;
}
.fdiv p{
    padding: 20px 0;
    line-height: 25px;
}
.fdiv span{
    font-weight: bold;
}
.fdiv u{
    padding: 0 5px;
    cursor: pointer;
}
.fdiv u:first-child{
    padding-left: 0;
}
.fdiv .u{
    font-size: 12px;
}